<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (locals.user) { %>
    <h1>Hello <%= locals.user.username %></h1>
    <h3><a href="/messages/new">Create new message</a></h3>
    <% } else { %>
    <h1>Home Page</h1>
    <% } %>
  </body>
</html>
