<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h1>Create New Message</h1>
    <form>
      <label for="msgTitle">Title: </label>
      <input type="text" name="msgTitle" id="msgTitle" minlength="4" required />
      <label for="msgText">Text: </label>
      <input type="text" name="msgText" id="msgText" minlength="4" required />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
