<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Passcode</title>
  </head>
  <body>
    <h1>Secret Club Initiation</h1>
    <form action="/user/secret" method="POST">
      <label for="username">Enter Username: </label>
      <input type="email" name="username" />
      <label for="secretPass">Secret Pass Code: </label>
      <input type="text" name="secretPass" />
      <button type="submit">Enter</button>
    </form>
  </body>
</html>
